.heading{
    color: blue;
    text-align: center
}
.about{
    color: red;
    text-align:justify;
}
    
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.background {
    background-color:coral;
}